<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/home.css"/>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../public/css/bootstrap-icons.css"> -->
    
    <title>NAME</title>
    <script
            type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
        ></script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement(
                    { pageLanguage: "en" },
                    "google_translate_element"
                );
            }
    </script>
    <link rel="stylesheet" href="../public/css/bootstrap-icons.css">
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            <img src="../public/images/Logotype_r.png">
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links flex-container" >
          <a href="#">Home</a>
          <a href="#">Forum</a>
          <a href="#">About</a>
          <a href="#">Games</a>
          <button class="login" href="#">Login</button>
        </div>
      </div>
    <div class="flex-container">
      <div class="home">
        <img class="himage" src="../public/images/sexualhealth.jpg">
      </div>
      <div class="anim">
          <div>Myths and Facts:</div>
          <div class="start"><span><img src="../public/images/crossflat_105968.png"></span>
          </div>
      </div>
    </div>
    <div class="flex2"></div>
    <div class="container ">
      <div class="row my-3">
        <div class="card mx-auto border-dark" style="width: 18rem;">
          <img src="../public/images/Home-boxes-hover-icon-1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Designing Change</h5>
            <p class="card-text">
              Innovating solutions to gender equity challenges.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card mx-auto border-dark" style="width: 18rem;">
          <img src="../public/images/Home-boxes-hover-icon-3.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Enacting change within a household, community and ecosystem</h5>
            <p class="card-text">A 15-month grassroots fellowship shaping future menstrual health leaders.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card mx-auto border-dark" style="width: 18rem;">
          <img src="../public/images/Home-boxes-hover-icon-5.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sustaining Change</h5>
            <p class="card-text">India’s only free menstrual and sexual reproductive telehealth helpline.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        
      </div>
    </div>
        
    </div>
    <footer class="bg-dark text-center text-white">
      <div class="conatiner p-4">
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light  btn-floating m-1" href="#!" role="button"
            ><i class="fab bi-facebook"></i>
           </a>
         
    
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab  bi bi-twitter"></i
          ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab bi bi-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab bi bi-linkedin"></i
          ></a>
    
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab bi bi-github"></i
          ></a>
        </section>
      </div>
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <section class="my-2"> 985878457</section>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Uninhibited @
        <a class="text-white" href="https://mdbootstrap.com/">uninhibited.org.in</a>
      </div>

    </footer>
</body>
</html>
