*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
header{
    width: 100%; height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('taj1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo{
    width: 25%;
    text-align: center;
}
nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav .menu a{
    width: 25%;
    text-decoration: none;
    color: white;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}
section h1{
    margin: 30px 0px 20px 0px;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}
section p{
    margin-bottom: 25px;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
    word-spacing: 2px;
}
section a{
    padding: 12px 30px;
    text-decoration: none;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    text-transform: uppercase;
}
section .btnone{
    background: white;
    color: black;
}
section .btnone:hover{
    background: #00b894;
    color: white;
    transition: 0.5s;
}
section .btntwo{
    background: #00b894;
    color: white;
}
section .btntwo:hover{
    background: white;
    color: black;
    transition: 0.5s;
}
.menu a:hover{
    font-size: larger;
}
nav .menu a:first-child{
    color: #00b894;
}
.change_content1:after{
    content: '';
    animation: changetext 5s infinite linear;
    color: #b80000;
}

.change_content2:after{
    content: '';
    animation: changetextf 5s infinite linear;
    color: #00b894;
}

@keyframes changetext{
    0%{content: "Menstruation is Dirty and Impure";}
    25%{content: "Condoms are only for men";}
    50%{content: "STIs can only be transmitted when symptoms are present";}
    75%{content: "You can get an STI from sitting on a toilet seat";}
    100%{content: "Women can’t get pregnant on your period";}
}
@keyframes changetextf{
    0%{content: "Menstruation is ovulation that results in bleeding, a totally natural process";}
    25%{content: "Female condom are also available and can be inserted hours before intercourse";}
    50%{content: "Many STIs may not have symptoms but can be damaging to your body and spread to sexual partners";}
    75%{content: "STIs are transmitted through sexual intercourse, close intimate contact, or the exchange of bodily fluids.";}
    100%{content: "Women can get pregnant during their period, but it is unlikely.";}
}
#facts{
    color: rgb(250, 246, 246);
}
.logo img{
    text-decoration: none;
    color: white;
    width: 5em;
    height: 1em;
    border: 0px;
}
.logo a:hover{
    color: #00b894;
    transition: 0.5s;
}
.footer-text{
    font-size: 1em;
}
.contact{
    font-size: 2em;
}