body {
  padding: 20px 0;
}

.container {
  border: 1px solid whitesmoke;
  position: relative;
  width: 250px;
  height: 300px;
  margin: 80px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: absolute;
  top: 0;
  /* display: none; */
}

.form {
  padding: 20px;
}

/* button a {
  text-decoration: none;
} */

/* .submit-btn {
  cursor: pointer !important;
} */

.btn {
  cursor: pointer !important;
}

button a {
  text-decoration: none;
  outline: none;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: crimson;
  /* font-size: large; */
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkgreen;
}
