<!-- This page renders the scratch card component -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claim your reward</title>
    <link rel="stylesheet" href="../../public/css/screen2.css">

</head>

<body>

    <div class="container" id="js-container">
        <canvas class="canvas" id="js-canvas" width="300" height="300"></canvas>
        <form class="form" style="visibility: hidden;">

            <h2>Congratulations</h2>
            <h3>You are eligible for a free consultation with Uninhibited.org</h3>
            <!-- <h1><code>HlkafSYc</code></h1> -->
            <img src="../../public/images/uninhibited_logo.png" alt="" width="140px" height="50px">
            <!-- 
            <div>
                <input type="text" name="code" placeholder="Secret Code">
            </div> -->
            <br>
            <div>
                <input type="submit" value="Click here">
            </div>
        </form>
    </div>
    <script src="../../screen2.js"></script>
</body>

</html>
