<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="public\css\bootstrap.min.css"> -->
    <title>website | GAMES</title>
        <link rel="stylesheet" type="text/css" href="../../public/css/qna.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>QNA</title>
</head>

<body class="bg-info justify-content-center align-items-center">
    <header>

        <nav>
            <div class="logo"><h1 class=""><a href="#"><img src="../../public/images/Logotype_r.png"></a></h1></div>
            <div class="menu">
                <a href="home1.html">Home</a>
                <a href="#">Games</a>
                <a href="#">Forum</a>
                <a href="forum1.html">About</a>
            </div>
        </nav>
        <img class="gimg" src="../../public/images/games.jpg">
    </header>
    <div class="container my-5 justify-content-center align-items-center col-md-12 " style="margin: auto; ">
        <div class="accordion justify-content-center align-items-center" id="accordionExample">
            <div class="accordion-item my-2 col-md-12">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Level 1 : Are You Sexually Healthy?
                        
                        
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>If you’re sexually active, it’s important to keep an eye on your sexual health. The best way to do this is by having regular sexual health checks from your doctor or a sexual health nurse.  It includes discussion about your body, sexual activity, fertility problems, and STIs. Along with that, a physical examination including a swab sample, a blood test, pap smear and examination of external genital area.</p>
                        <form>
                            <label>How frequently should one take sexual health check-ups?</label><br>
                            <input type="radio" id="Onceayear" name="sexualhealth" value="Onceayear">
                            <label for="Onceayear">Once a Year</label><br>
                            <input type="radio" id="sixmonths" name="sexualhealth" value="sixmonths">
                            <label for="sixmonths">Every Six Months</label><br>
                            <input type="radio" id="week" name="sexualhealth" value="week">
                            <label for="week">Every Week</label><br>
                            <input type="radio" id="biyearly" name="sexualhealth" value="biyearly">
                            <label for="biyearly">Bi-yearly basis</label>
                        </form>
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Level 2 : Erectile Dysnfunction
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Erectile dysfunction (impotence) is the inability to get and keep an erection firm enough for sex. Having erection trouble from time to time isn't necessarily a cause for concern. If erectile dysfunction is an ongoing issue, however, it can cause stress, affect your self-confidence and contribute to relationship problems. Problems getting or keeping an erection can also be a sign of an underlying health condition that needs treatment and a risk factor for heart disease.</p>
                        <form>
                            <label>Is Erectile Dysfunction common?</label><br>
                            <input type="radio" id="true" name="erectile" value="true">
                            <label for="true">True</label><br>
                            <input type="radio" id="false" name="erectile" value="false">
                            <label for="false">False</label><br>
                        </form>
                    </div>
                </div>
            </div>
           
        
        <div class="accordion-item my-2">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Level 3 : Menstruation
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Menstruation is the process in a woman of discharging blood and other materials from the lining of the uterus at about one monthly interval from puberty until menopause (ceasing of regular menstrual cycles), except during pregnancy. This discharging process lasts about 3-5 days. Beside the bleeding, other signs and symptoms of menstruation may include headache, acne, bloating, pains in the low abdomen, tiredness, mood changes, food </p>
                    <form>
                        <label>How long does a menstrual cycle last?
                        </label><br>
                        <input type="radio" id="27d" name="menstruation" value="27d">
                        <label for="27d">2-7 days</label><br>
                        <input type="radio" id="35d" name="menstruation" value="35d">
                        <label for="35d">3-5 days</label><br>
                        <input type="radio" id="810d" name="menstruation" value="810d">
                        <label for="810d">8-10 days</label><br>
                        <input type="radio" id="78d" name="menstruation" value="78d">
                        <label for="78d">7-8 days</label><br>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item my-2">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Level 4 : Premature Ejaculation
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Premature ejaculation occurs when a man ejaculates sooner during sexual intercourse than he or his partner would like. Men who are anxious about obtaining or maintaining an erection during sexual intercourse might form a pattern of rushing to ejaculate, which can be difficult to change. Many men with premature ejaculation also have problems with anxiety — either specifically about sexual performance or related to other issues. If you have had satisfying sexual relationships with other partners in which premature ejaculation happened infrequently or not at all, it's possible that interpersonal issues between you and your current partner are contributing to the problem.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item my-2 border-dark">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Level 5 : STDs
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>The term sexually transmitted disease (STD) is used to refer to a condition passed from one person to another through sexual contact. A person can contract an STD by having unprotected sex with someone who has the STD. That doesn’t mean sex is the only way STDs are transmitted. Depending on the specific STD, infections may also be transmitted through sharing needles and breastfeeding. Examples, HIV, Syphilis, Gonnorhea etc.</p>
                </div>
            </div>
        </div>
        
    </div>
    
    
    </div>
    <footer class="bg-dark text-center text-white">
        <div class="conatiner p-4">
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light  btn-floating m-1" href="https://www.facebook.com/uninhibited.org.in" role="button" target="_blank"
                  ><i class="fab bi bi-facebook"></i
                ></a>
               
          
               
      
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/uninhibited.org.in/" role="button" target="_blank"
                  ><i class="fab bi bi-instagram"></i
                ></a>
          
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/uninhibited/" role="button" target="_blank"
                  ><i class="fab bi bi-linkedin"></i
                ></a>
                  <!-- Linkedin -->
             <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UC4ULW4UB3hgwyhcQ5FfOtfA" role="button" target="_blank"
             ><i class="fab bi bi-youtube"></i
           ></a>
               
              </section>
        </div>
        <section class="mb-4">
          <p class="footer-text" style="font-size: 1em;">
            Uninhibited Foundation is a tax-exempt charitable trust registered in Bengaluru, India. Reg. No. MLS-4-00014-2016-18.<br>
            Gramin Vikas Samiti is a registered society with the Registrar, Firm & Societies Chandigarh, India. Reg. No. HR-018-2012-00121.<br>
            Uninhibited Australia Ltd is a registered company under the Corporations Act 2001 in Victoria, Australia. Australian Company Number (ACN) 647 986 365.
          </p>
        </section>
        <section class="my-2"> 985878457</section>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Uninhibited @
          <a class="text-white" href="https://uninhibited.org.in/">uninhibited.org.in</a>
        </div>
  
      </footer>
    
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>